.header{
    height: 770px;
}
.header-img{
    max-width: 100%;
    margin-top: 70px;
}

.header-row{
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-img-first {
    height: 150px;
    width: 300px;
    z-index: -1;
    border-radius: 3px;
}

.header-img-second {
    height: 150px;
    width: 300px;
    z-index: -1;
    border-radius: 3px;
}

.header-img-third {
    height: 150px;
    width: 300px;
    z-index: -1;
    border-radius: 3px;
}