.navbar {
  width: 100%;
  position: fixed;
  background-color: #fff;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  margin-top: 0;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-btn {
    background-color: #8a2be2;
    border: 2px solid #8a2be2;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    transition: .3s;
    padding: 7px;
}


.nav-right {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #8a2be2;
}

.shopping-cart {
  width: 22px;
  height: 22px;
  margin-right: 70px;
}

.nav-link {
  padding: 0px 0px 0px 50px;
  text-decoration: none;
}

.nav-home {
  margin-right: 40px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
}

.nav-branche {
  margin-right: 40px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
}

.nav-about {
  margin-right: 40px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
}

.nav-contacts {
  margin-right: 40px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
}

